@charset "UTF-8";
/*paletas de cores
    #8C9C38
    #D0E848
    #5F9FE8
    #EB2715
    #30629C
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #bb1c16, rgba(0, 0, 0, 0.89));
    min-width: 360px;
    min-height: 360px;
}
nav{
    min-height: 50px;
    text-align: center;
    background-image: url('imagens/background-header.jpg');
    border: 50px;
}
li:hover > a{
    background-color: #5F9FE8;
}
ul{
    padding: 10px;
    text-decoration: none;
    display: inline-flex;
}
li{
    color: white;
    display: inline;
    padding: 0px 50px;
    text-decoration: underline;
}
a{
    color: white;
    text-decoration: none;
}
main{
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    background-color: #d6e3f1;
    text-align: center;
}
#a_contato{
    text-decoration: underline;
    color: #1577f7;
}
.centralizar_imagem{
    padding: 10px;
    display: flexbox;
    justify-content: center;
    align-items: center;
}
img{
    background-color: #bb1c16;
    border-radius: 10px;
    padding: 10px;
    max-width: 80vw;
    max-height: 80vh;
    display: flexbox;
}
#img_1:hover{
    background-image: linear-gradient(to right, #bb1c16, rgb(0, 0, 0));
}
#img_2:hover{
    background-image: linear-gradient(to right, #bb1c16, rgb(0, 0, 0));
}
#img_3:hover{
    background-image: linear-gradient(to right, #bb1c16, rgb(0, 0, 0));
}
#texto_imagem{
    text-decoration: none;
    color: #5F9FE8;
}
footer{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
footer:hover > ul {
    background-color: #a1120d;
}
ul:hover > li > a > div{
    height: 100vh;
}