@charset "UTF-8";
/*paletas de cores
    #8C9C38
    #D0E848
    #5F9FE8
    #EB2715
    #30629C
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #580a07;
}
h1{
    background-color:  #1577f7;
    box-sizing: 100vh;
}
nav{
    min-height: 50px;
    text-align: center;
    background-color: #30629C;
    border: 50px;
}
ul{
    padding: 10px;
    text-decoration: none;
}
li{
    color: white;
    display: inline;
    padding: 0px 50px;
    text-decoration: underline;
}
a{
    color: white;
    text-decoration: none;
}
main{
    margin: 10px;
    padding: 10px;
    background-color: #d6e3f1;
    text-align: justify;
}
#a_contato{
    text-decoration: underline;
    color: #1577f7;
}
img{
    max-width: 95vw;
    max-height: 95vh;
}