@charset "UTF-8";
/*paletas de cores
    #8C9C38
    #D0E848
    #5F9FE8
    #EB2715
    #30629C
*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #bb1c16, rgba(0, 0, 0, 0.89));
}
nav{
    min-width: 50px;
    min-height: 50px;
    text-align: center;
    background-image: url('imagens/background-header.jpg');
}
li:hover > a{
    background-color: #5F9FE8;
}
ul{
    padding: 10px;
    text-decoration: none;
    display: inline-flex;
}
li{
    color: white;
    display: inline;
    padding: 0px 50px;
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: white;
}
main{
    border-radius: 10px;
    min-width: 360px;
    min-height: 640px;
    margin: 10px;
    padding: 10px;
    background-color: #d6e3f1;
    text-align: justify;
}
p{
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    background-color: #1577f710;
    text-align: justify;
    text-indent: 10px;
}
h1, h2, h3{
    border-radius: 10px;
    text-align: center;
    background-image: linear-gradient(to right, #30629c, rgba(6, 114, 255, 0.637));
}
footer{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}
footer:hover > ul {
    background-color: #a1120d;
}